@media (min-width: 767px) {
  .my-form {
    display: flex;
    justify-content: center;
  }
  .cont {
    margin-right: 20px;
    width: 90%;
  }
  .input-todo {
    display: block;
    width: 95%;
    margin: 0;
  }
  .btn-todo {
    display: block;
    width: 150px !important;
    margin: 15px;
    position: relative;
    bottom: 15px;
  }
  .result-input {
    width: 95%;
    text-align: center;
  }
  .btn-4 {
    width: 70px !important;
    position: relative;
    bottom: 6px;
  }
  .result-li {
    margin-top: 30px;
    display: flex;
  }
  .list-todo {
    height: 400px;
  }
  .result-div {
    width: 83%;
  }
}
